.wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  .container {
    padding: 20px;
    margin-top: 20px;
    width: 300px;
    height: 100px;
    background-color: rgba(#ccc, 0.3);
    border-radius: 20px;
    .content {
      p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 300px;
      }
      text-align: center;
    }
  }
}
