.wrapper__details {
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    margin-top: 20px;
    width: 500px;
    height: 400px;
    background: rgba(#ccc, 0.3);
    border-radius: 20px;
    .content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      text-align: center;
      img {
        width: 500px;
        height: 200px;
        object-fit: contain;
      }
    }
  }
}
